body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-size: cover;
	background-position: center;
}


img.pic {
    width: 30%;
    height:30%;
    padding: 10px 0;  
}

img.mainpagepic {
	width: 100%;
    height:100%;
}


header {
	background: #000000;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 100px;
	padding-top: 50px;
	
	position: relative;
}

nav a {
	color: #ff0000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	
}

nav a:hover {
	color:#ffffff; 
}

nav a:hover::before {
	width:100%;
}

nav a::before {
	content: '';
	display: table;
	height: 5px;
	width: 100%;
	background-color: #ffffff;
	
	position: absolute;
	top:0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

.container {
	width: 80%;
	mergin: 0 auto;
}

.container-main {
  width: 400;
  padding: 10% 0 0;
  margin: auto;  
}

.color_text {
    color: #969696;
}

.font_9 {
    font: normal normal normal 14px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    color: #969696;
    font-size: 10px;
}


.container_bottom{
    position: relative;
    bottom:0;
}

btn {
    float: right;
}
